{% extends 'base.html'%}

{% block content%}

<title>Event Management | User Cart</title>

<body id="cart-body">
  <header>
    <div class="cotainer">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-light text-center p-4 mb-4">
              <h1>Profile Information</h1>
            </div>
        </div>
    </div>
  </header>
  <main>
  <section class="cart-section">
    <div class="container-fluid">
      <div class="row"> 
          <div class="col-md-10 col-sm-10 col-xs-10 p-4 offset-1">
            <div class="card">
              <h1 class="card-header">{{u.first_name}} {{u.last_name}}</h1>
            <div class="card-body">
              <h3 class="card-title">Username:  {{u.username}}</h3>
            <button type="btn" id="contact-button" class="btn btn-light"><a href="{% url 'change_pswd' %}">Change Password</a></button><br>
        
            </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  </main>
{% endblock content%}
