{% extends 'base.html'%}
{% load static %}
{% block content%}
<title>Event Management | Venue</title>

<body>
    <header class="heading-be p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-info text-center" ><h1>Venues<hr></h1></div>
            </div>
        </div>
    </header>
        
    <main>    
        <div class='col-sm-12'>
            <section class="business-drop">
                <div class="container">
                    <div class="row">
                    {% for venue in v %}
                        <div class="col-md-12 p-3">
                            <div class="card-group text-center">
                                <div class="card p-3 m-3 shadow-lg p-3 mb-5 bg-white rounded">
                                    <h2 class="card-title">{{venue.name}}</h2>
                                    <img src="{{venue.image.url}}"  class="card-img-top">
                                    <div class="card-body">
                                        <p>{{venue.address}}</p>
                                        <p><h6><u>capcity:</u></h6>{{venue.capacity}}</p>
                                        <p><h6><u>price</u></h6>{{venue.price}}</p>
                                        <p><h6><u>Description:</u></h6>{{venue.desc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </main>        
</body>
{% endblock content%}